@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">)

body{
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color:hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width:500px;
    height: 670px;
    background-color:hsl(0, 0%, 12%);
    border-radius: 15px;
}
img{
    width:80px;
    height: 80px;
    border-radius: 60%;
    margin: 80px 0 0 200px;
}
h2{
    margin-left: 160px;
    font-family: "Inter", sans-serif;
    color: White;
    font-weight: 700;
}
h4{
    margin-left:160px ;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color:  hsl(75, 94%, 57%);
}
p{
    font-size: 14px;
    font-family:"Inter", sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 135px;
    margin-top: 30px;
}
button{
    width: 250px;
    height: 40px;
    margin-left: 130px;
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    border-radius: 10px;
}
button:hover{
    background-color:hsl(75, 94%, 57%);
    cursor: pointer;
}
